.app-header {
  background-color: #222;
  text-align: center;
  min-height: 64px;
  color: white;
  overflow: hidden;
}

.app-intro {
  font-size: large;
}

.team-red {
  background-color: #730505;
  color: white;
  padding: 8px;
}

.team-blue {
  background-color: #020290;
  color: white;
  padding: 8px;
}

.login-form {
  float: left;
  padding: 8px;
}

.login-button {
  padding: 16px;
  float: left
}

.content {
  position: relative;
}

.buttons-container {
  text-align: center;
  padding: 8px;
}

.app-header .alert {
  margin-bottom: 0;
}

.alert-message {
  float: left;
  padding: 4px 10px;
}
